<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatura</title>
</head>
<body>
    <div>
        {% block content %}
            {% if erro %}
                <h1> Erro! Não foi possível obter a fatura do cliente pois não há fatura aberta. </h1>
            {% else %}
                <h1> Erro! Não foi possível obter a fatura do cliente. </h1>
            {% endif %}
        {% endblock %} 
    </div>
</body>
</html>