<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatura</title>
</head>
<body>
    <div>
        <h1> Fatura </h1>
        <br>
    </div>
    <div>
        <h2> Nome do pagador: {{ nome }}</h2>
        <h2> CPF do pagador: {{ cpf }}</h2>
        <h2> Data de leitura: {{ data_leitura }}</h2>
        <h2> Data da fatura: {{ data_fatura }}</h2>
        <h2> Data de vencimento: {{ data_vencimento }}</h2>
        <h2> Consumo da fatura: {{ consumo_fatura }}</h2>
        <h2> Consumo total: {{ consumo_total }}</h2>
        <h2> Matricula: {{ matricula }}</h2>
        <h2> Valor da fatura: {{ valor }}</h2>

    </div>
</body>
</html>